<div class="border" >
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Spelling">
            <div class="box lg-box-1" >
                <app-text-spelling ></app-text-spelling>
            </div>
        </mat-tab>
        <mat-tab label="Spelling Test">
            <div class="box mt-3">
                <app-text-spelling-test></app-text-spelling-test>
            </div>
        </mat-tab>
        <mat-tab label="Text Speech">
            <div class="box lg-box mt-5">
                <app-text-speech ></app-text-speech>
            </div>
        </mat-tab>
      </mat-tab-group>
</div>
